<div class="container">
    <div class="row">
      <div class="col-lg-12">
          <div class="sec-title">
          <h2>The Role of Teras Juice in Human body<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
         
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
          <div class="single-about-box">
          <i class="icofont icofont-ruler-pencil"></i>
          <h4></h4>
          <p style="text-align: justify;">As a remedy for various ailments and conditions, the first role Teras does is to eliminate sorts of toxins in our bodies while it is restoring immunity to the appropriate level as recommended by our bodies.

              Due to its components that is why we see Teras helping various ailments and conditions as mentioned above. Note that Teras juice is required to be taken by anybody both ill and healthy people as it does beyond eliminating illness.</p>
        </div>
      </div>
      <div class="col-lg-4">
          <div class="single-about-box active">
          <i class="icofont icofont-computer"></i>
          <h4></h4>
          <p style="text-align: justify;">Note that taking the juice even for those in good health shall also still highly help as it creates fresh and healthy to our bodies. It works as preemptive counter attack against anti-bodies that visit us through what we eat and atmosphere conditions that may cause problems into our bodies. When one starts taking Teras juice, there are a number of side effects that may arise. However, this depends on the nature of the ailment and condition of that particular person taking the juice. Note that early a person commences taking the juice the quicker it helps in healing. Some people with minor problems start feeling well at first, second, third bottle and others with major conditions at seventh and above. Most people initially become highly sick than before when they commence Teras treatment. This normally happens as the juice reacts to infections.</p>
        </div>
      </div>
      <div class="col-lg-4">
          <div class="single-about-box">
          <i class="icofont icofont-headphone-alt"></i>
          <h4></h4>
          <p style="text-align: justify;">Preliminary, it starts cleaning the body by eliminating all sorts of toxins and mending the infected tissues, while restoring immunity to the required level. It goes beyond as it helps to reform the body networks with all organs, genetic system and chemical substance functionality such as hormones for them to work accordingly as recommended by its nature.  First time users usually experience diarrhea, nausea, vomiting and others experience body pain as well as fever. Note that these side effects do not persist it occurs just for a short period.</p>
        </div>
      </div>
    </div>
  </div>