<div class="container">
    <div class="row">
        <div class="col-md-5 hidden-sm hidden-xs">
            <div class="about-left-thumb">
                <img src="assets/img/IMG_teras_d1450.jpg" alt="mobile screen">
            </div>
        </div>
        <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
            <div class="about-content">
                <span>About Juice</span>
                <p>Teras is a juice which is a concoction of fruits and vegetables. The juice is a remedy that boost your immune system to be able to fight various ailments affecting human body such as Cancer, Diabetes, Hypertension (BP), AIDS, Immune Booster, Fibroids, Stroke, Kidney Failure, Asthma, Liver Failure, Brain Damage, Heart Failure Tuberculosis (TB), Hemorrhoids/Piles and Wound among other problems. However the juice also helps to eliminate abnormal health conditions such as menstruation disorder, Infertility and Anaemia etc.</p>
                <div class="about-ft">
                    <div class="ft-single">
                      <h3>How to use teras herbal juice</h3>
                    </div>
                    <div class="ft-single">
                        <div class="icon"><i class="fa fa-battery-0"></i></div>
                        <div class="ft-info">
                            <h4>Step One</h4>
                            <p>Shake it well before use.</p>
                        </div>
                    </div>
                    <div class="ft-single">
                        <div class="icon"><i class="fa fa-desktop"></i></div>
                        <div class="ft-info">
                            <h4>Step Two</h4>
                            <p>Take 30mls in the morning before eating anything then wait for 30 minutes to eat.</p>
                        </div>
                    </div>
                    <div class="ft-single">
                        <div class="icon"><i class="fa fa-desktop"></i></div>
                        <div class="ft-info">
                            <h4>Step Three</h4>
                            <p>Take it for 21 consecutive days then break for 7 days and resume thereafter.</p>
                        </div>
                    </div>
                    <div class="ft-single">
                        <div class="icon"><i class="fa fa-desktop"></i></div>
                        <div class="ft-info">
                            <h4>Step Four</h4>
                            <p>Minimum number of bottles to be taken is 7 in 7 months for minor health problems and 14 bottles in 14 months for major ailments and disorder conditions.</p>
                        </div>
                    </div>
                    <div class="ft-single">
                        <div class="icon"><i class="fa fa-desktop"></i></div>
                        <div class="ft-info">
                            <h4>Step Five</h4>
                            <p>Dosage depends on the nature of an ailment or condition of patient.</p>
                        </div>
                    </div>
                    <div class="ft-single">
                        <div class="icon"><i class="fa fa-desktop"></i></div>
                        <div class="ft-info">
                            <h4>Step Six</h4>
                            <p>Keep it refrigerated but avoid freezing.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>