<div class="container">
    <div class="section-title">
        <h2>Teras Juice Benefits</h2>
        <p>Beneficial in curing various health ailments and a short list of those is listed below:</p>
    </div>
    <div class="row">
        <div class="feature-content">
            <div class="col-md-4 col-sm-6 col-xs-12 text-right">
                <div class="feature-list">
                    <div class="feature-item">
                        <h4>Less Side Effects</h4>
                        <p>Taking of herbal remedies to cure ailments does not result in huge side effects compared to pharmaceutical medicines.</p>
                    </div>
                    <div class="feature-item">
                        <h4>None Long Term Effects</h4>
                        <p>Repeated and long-term use of Teras Herbal Remedy does no result in long-term effects on the body to be compared to pharmaceutical drugs like paracetamol when used for long period’s results in permanent body damage and long-term ill-effects.</p>
                    </div>
                    <div class="feature-item">
                        <h4>Safe</h4>
                <p>Our vegetables is frequently recommended for people who want to lose weight in a healthy way. Since these vegetables is packed with many beneficial vitamins, minerals, and other nutrients, it is a healthy dietary option for people to eat and is quite filling since it has high levels of fiber, which add bulk to the bowels. It is also low in calories, amounting to only 33 calories in a cup of cooked vegetables found in our juice. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-xs hidden-sm">
                <div class="feature-mscreen">
                    <!--<img src="../src/assets/img/IMG_teras_d1450.jpg" alt="mobile screen">-->
                    <img src="../assets/img/IMG_teras_d1450.jpg" alt="mobile screen">
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="feature-list feature-list-right">
                    <div class="feature-item">
                        <h4>Remedy for various ailments</h4>
                        <p>Teras Herbal Remedy has multipurpose benefits.</p>
                    </div>
                    <div class="feature-item">
                        <h4>Prudent price for its value</h4>
                        <p>Teras Herbal remedy is absolutely sold at prudent, good value for the money.</p>
                    </div>
                    <div class="feature-item">
                        <h4>Consumed by all Ages</h4>
                        <p>Our ingredients acts as a good detoxifier too, meaning that it purifies the blood and removes toxins, primarily free radicals and uric acid which are the main causes of rheumatism, gout, arthritis, renal calculi, skin diseases, and eczema. This detoxifying effect of our vegetables is due to the high content of vitamin C and sulfur in it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
