<div class="container">
  <div class="section-title text-black">
    <h2>Testimonial</h2>
    <p>For more Teras Herbal Juice testimonies <a href="http://www.terasmw.com/testimonies" target="_blank">Click here</a>
    </p>
  </div>
  <div class="row col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-4 col-sm-4 col-xs-12 testimonial-item">
      <div class="tauthor-meta">
        <div class="author-thumb">
          <img src="assets/img/testimonal1.png" alt="author image">
        </div>
        <div class="author-info">
          <h4>Tinkhani Kayira</h4>
          <span>10 March, 2018</span>
          <div class="review-stasr">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
      </div>
      <div class="tauthor-text">
        <p>Recovery of Tinkhani Kayira from Cervical Cancer and Diabetes (Kasungu-Malawi)</p>
      </div>
    </div>
    <!-- single item end -->
    <!-- single item start -->
    <div class="col-md-4 col-sm-4 col-xs-12 testimonial-item">
      <div class="tauthor-meta">
        <div class="author-thumb">
          <img src="assets/img/profile.png" alt="author image">
        </div>
        <div class="author-info">
          <h4>Michael</h4>
          <span>16 January, 2018</span>
          <div class="review-stasr">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
      </div>
      <div class="tauthor-text">
        <p>Michael recovered from Kaposi’s sarcoma.</p>
      </div>
    </div>
    <!-- single item end -->
    <!-- single item start -->
    <div class="col-md-4 col-sm-4 col-xs-12 testimonial-item">
      <div class="tauthor-meta">
        <div class="author-thumb">
            <img src="assets/img/profile.png" alt="author image">
        </div>
        <div class="author-info">
          <h4>Esther Layton</h4>
          <span>16 January, 2018</span>
          <div class="review-stasr">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
      </div>
      <div class="tauthor-text">
        <p>Esther Layton recovered from Kaposi’s sarcoma and unknown illnesses.</p>
      </div>
    </div>
  </div>

</div>