<div class="section-title text-black">
    <h2>Contact US</h2>
</div>
<div class="contact-flex-container">
    <div class="contact-address">
        <h4 class="contact-title">Address</h4>
        <ul>
            <li class="h-addres"><i class="fa fa-home"></i>729 Bayside Road<br>
                Leisure Bay Estate<br>
                Unit 77 Erasmuspark ext 1<br>
              Pretoria<br>
              RSA </li>
            <li><i class="fa fa-phone"></i> 
                Tel: 012 347 0219<br> 
                Cel: 083 464 5691</li>
            <li><i class="fa fa-envelope"></i>buntu@terasherbaljuice.com       <br>            
              sales@terasherbaljuice.com</li>
        </ul>
    </div>
    <div class="contact-form">
        <h4 class="contact-title">Get In Touch</h4>
        <form action="#">
            <input type="text" class="input" name="name" placeholder="Your Name *">
            <input type="email" class="input" name="email" placeholder="Your Email address*">
            <textarea name="msg" class="input" id="msg" placeholder="Your Message*"></textarea>
            <input type="submit" id="send" value="Send">
        </form>
    </div>
</div>
