<div class="section-title text-black">
    <h2>Contact US</h2>
</div>
<div class="contact-flex-container">
    <div class="contact-address">
        <h4 class="contact-title">Address</h4>
        <ul>
            <li class="h-addres"><i class="fa fa-home"></i>Scientia Technopark
              Block C Unit 20<br>
              Meiring Naude Road<br>
              Brummeria<br>
              Pretoria<br>
              RSA </li>
            <li><i class="fa fa-phone"></i>012 347 0219<br> 
              Buntu: 083 464 5691<br> 
              Pumeza: 081 368 1748</li>
            <li><i class="fa fa-envelope"></i>buntu@terasjuice.com       <br>            
              sales@terasjuice.com</li>
        </ul>
    </div>
    <div class="contact-form">
        <h4 class="contact-title">Get In Touch</h4>
        <form action="#">
            <input type="text" class="input" name="name" placeholder="Your Name *">
            <input type="email" class="input" name="email" placeholder="Your Email address*">
            <textarea name="msg" class="input" id="msg" placeholder="Your Message*"></textarea>
            <input type="submit" id="send" value="Send">
        </form>
    </div>
</div>