<div class="container">
  <div class="slider-content d-flex flex-center">
      <div class="col-md-8 col-sm-9 col-xs-12 d-flex flex-center">
          <div class="slider-nner">
              <h2>TERAS HERBAL JUICE <br>Healthy living and strong body</h2>
              <p>Teras Herbal Juice is an immune boaster that helps the body to fight against various body ailments and conditions and is made of fruits and vegetables, the first role Teras does in your body is to eliminate all sorts of toxins while it is restoring your immunity to the appropriate level as recommended by our bodies.</p>
             
              <div style="color:white">
                Download Our Apps<br>
                <a href="#"><img width="130px" style="height: 150px !important" src="assets/img/Google_play_store.png" alt="mobile image"> </a>
                <a href="#"><img width="150px" src="assets/img/app_play_store.png" alt="mobile image"> </a>
              </div>
          </div>
      </div>
      <div class="col-md-4 hidden-sm hidden-xs">
          <div class="slider-m-img">
            <div class="row">
              <div class="col-md-6">
                  <img src="assets/img/mobile/slider-screen.jpg" alt="mobile image">
              </div>
              <div class="col-md-6">
                  <img src="assets/img/mobile/slider-screen3.png" alt="mobile image">
                </div>
            </div>
          </div>
      </div>
  </div>
</div>