<div class="container">
  <div class="slider-content d-flex flex-center">
      <div class="col-md-8 col-sm-9 col-xs-12 d-flex flex-center">
          <div class="slider-nner">
              <h2>TERAS Herbal JUICE <br>Healthy living and strong body</h2>
              <p>Teras is a remedy for various ailments and conditions, the first role Teras does is to eliminate sorts of toxins in our bodies while it is restoring immunity to the appropriate level as recommended by our bodies.</p>
              <div class="btn-area">
                  <a href="#">Download Now </a>
              </div>
          </div>
      </div>
      <div class="col-md-4 hidden-sm hidden-xs">
          <div class="slider-m-img">
            <div class="row">
              <div class="col-md-6">
                  <img src="assets/img/mobile/slider-screen.jpg" alt="mobile image">
              </div>
              <div class="col-md-6">
                  <img src="assets/img/mobile/slider-screen3.png" alt="mobile image">
                </div>
            </div>
          </div>
      </div>
  </div>
</div>